.data-container {
  align-items: center !important;
  height: calc(100vh - 56px) !important;
  margin-bottom: 0px !important;
  max-height: calc(100vh - 56px) !important;
  overflow-y: auto !important;
  background: #f9f8f8 !important;
}

/*.menu-container {*/
/*  margin-bottom: 80px !important;*/
/*}*/

#dashInclude {
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
}

.side-nav {
  height: 100%;
  margin-bottom: 0px !important;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 64px;
  left: 0;
  background-color: #4b4d58;
  overflow-x: hidden;
  padding-top: 60px;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
}

.side-nav a:hover {
  background: #383944;
  color: white;
}

.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  padding: 16px;
}

.toggle-button {
  position: absolute;
  top: 74px;
  font-size: 32px !important;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
