.login-logo {
  text-align: center;
  padding: 0 25px 0;
}

.login-logo img {
  height: 115px;
  width: 115px;
}

.login-actions {
  width: 100%;
  text-align: center;
}

.login-background {
  height: 100%;
  background-color: #383944eb;
  margin-bottom: 0px !important;
}

.login-card {
  box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.14),
    0px 0px 1px -2px rgba(0, 0, 0, 0.12), 12px 7px 5px 0 rgba(0, 0, 0, 0.2) !important;
  border-radius: 10px !important;
  background: #383535 !important;
  z-index: 2;
}

.login-card_action {
  border-top: none !important;
  border-radius: 10px !important;
  padding: 0 24px 43px !important;
}

.ui-button.login-btn {
  background: #2ac58f;
  border: 1px solid #2ac58f;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px !important;
}

.login-image {
  position: absolute;
  z-index: 1;
  width: 400px;
  left: 100px;
  top: 35%;
}

.login-wave {
  position: absolute;
  height: 100%;
}

.login-circle {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 100px;
  right: -195px;
  background: radial-gradient(
    circle,
    rgb(42, 198, 143) 0%,
    rgb(42, 197, 143) 100%
  );
  border-radius: 100%;
}

.login-circle_little {
  width: 120px;
  height: 120px;
  position: fixed;
  bottom: 250px;
  right: 150px;
  background: radial-gradient(
    circle,
    rgb(42, 198, 143) 0%,
    rgb(42, 197, 143) 100%
  );
  border-radius: 100%;
}

.input-field username {
  width: 90% !important;
}

.input-field password {
  width: 90% !important;
}
