.tabs-container {
  display: flex !important;
  align-content: center !important;
  justify-content: center;
  height: calc(100% - 65px) !important;
  width: calc(100% - 300px) !important;
}

.ui-tabs {
  /*width: calc(100% - 300px)!important;*/
  width: 1000px !important;
  min-width: calc(100% - 300px) !important;
}

.addProvider-container {
  text-align: left !important;
  margin-left: 10px !important;
}

.card-container {
  font-family: "Courier New", Courier, monospace !important;
}

.icons-panel td {
  text-align: center !important;
}

.ui-panel-titlebar {
  /*background: #55b78d !important;*/
}

.noBorders tr,
.noBorders td {
  background: none !important;
  border: none !important;
}

.white-button.ui-button.ui-state-default {
  background-color: #ffffff;
  color: #222222;
  border-style: none !important;
  height: 45px !important;
}

td {
  text-align: center !important;
}

.selector-container {
  width: 300px !important;
  padding-top: 15px !important;
}

.ui-panel-titlebar {
  background: #ffffff !important;
  border-top: 4px solid #1f3c6a !important;
  height: 10px !important;
  border-bottom: 1px solid #fff !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}
.ui-panel-content {
  border-radius: 0px !important;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.ui-dialog-content {
  border: 0px solid #c8c8c8 !important;
}

.ui-dialog {
  overflow-y: auto;
  max-height: calc(100% - 65px);
}

.ui-datalist-content {
  border: 0px solid #c8c8c8 !important;
}
