.container {
  display: flex !important;
  align-content: center !important;
  height: calc(100% - 65px) !important;
}

.ui-inputfield {
  width: 300px !important;
}

.syntom-container {
  border-top-style: outset !important;
  width: 800px !important;
}

.select-dropdown {
  width: 300px !important;
}

#agentNameContainer {
  width: 395px !important;
}

.selector-container {
  width: 300px !important;
  padding-top: 15px !important;
}

.add-syntom-container {
  width: 300px !important;
}

.agentContainer {
  border-top-style: outset !important;
  width: 800px !important;
  padding-top: 15px !important;
}

.show-syntom-container {
  padding-left: 100px !important;
}

#create-syntom-button {
  width: 300px !important;
  padding-top: 30px !important;
}

.ui-inputtextarea {
  height: 150px !important;
}

.ui-selectmanycheckbox {
  font-weight: bolder !important;
}

.ui-datalist .ui-datalist-content {
  border: 0 none;
}

.ui-datalist ul {
  padding: 0px 10px 0 20px;
  margin: 5px 0;
}

.label,
.value {
  vertical-align: top;
}

.output {
  font-weight: bold;
}

.ui-selectmanymenu {
  width: 175px;
}

.ui-selectlistbox-filter {
  width: 260px !important;
}

.ui-selectlistbox-listcontainer {
  height: 222px !important;
  max-height: 222px !important;
}
