.container {
  display: flex !important;
  align-content: center !important;
  justify-content: center;
  height: calc(100% - 65px) !important;
}

.ui-datagrid {
  width: 900px !important;
}

.top-container {
  display: flex !important;
  align-items: flex-end !important;
}

.addResource-container {
  text-align: left !important;
  margin-left: 10px !important;
}

.search-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-end !important;
  width: 225px !important;
  padding: 0px !important;
}

.card-container {
  font-family: "Courier New", Courier, monospace !important;
}

.icons-panel td {
  text-align: center !important;
}

.ui-panel-titlebar {
  background: #ffffff !important;
  border-top: 5px solid #0f6a32 !important;
  height: 10px !important;
  border-bottom: 1px solid #fff !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}
.ui-panel-content {
  border-radius: 0px !important;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.white-button.ui-button.ui-state-default {
  background-color: #ffffff;
  color: #222222;
  border-style: none !important;
  height: 45px !important;
}

/*.card-container tr {*/
/*  border-bottom: 0px solid!important;*/
/*}*/

td {
  text-align: center !important;
}

.selector-container {
  width: 300px !important;
  padding-top: 15px !important;
}

.ui-dialog-content {
  border: 0px solid #c8c8c8 !important;
}
