<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
    <title>VirusControl</title>
    <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="./resources/vendor/materialize.css"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="./resources/vendor/materialize.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js" type="text/javascript"></script>
    <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-map.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
    <script src="https://cdn.anychart.com/geodata/2.0.0/countries/uruguay/uruguay.js"></script>
</h:head>
<h:body style="overflow-y: hidden">
    <ui:debug hotkey="x" />
    <div style="height: calc(100vh);">
        <c:if test="#{navigationBean.logged eq true}">
            <c:if test="#{sessionBean.dtoBackProfile.role == 'SUPERVISOR'}">
                <ui:include src="/navbar.xhtml"/>
                <ui:include src="/dashboard.xhtml"/>
            </c:if>
            <c:if test="#{sessionBean.dtoBackProfile.role == 'ADMINISTRATOR'}">
                <ui:include src="/navbar.xhtml"/>
                <ui:include src="/dashboard.xhtml"/>
            </c:if>
        </c:if>
        <c:if test="#{navigationBean.logged eq false}">
            <ui:include src="/login.xhtml"/>
        </c:if>
    </div>
</h:body>
</html>

