<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputStylesheet library="css" name="approveDisease.css"/>

    <div class="container container">
        <h:form id="disasesForm">
            <div class="row top-container">
                <div class="col s12 search-container">
                    <p:commandButton icon="pi pi-search" styleClass="white-button" action="#{approveDisease.search()}" update=":disasesForm:diseases"/>
                    <p:inputText value="#{approveDisease.searchText}" id="searchInput" placeholder="">
                        <p:ajax event="keyup" update=":disasesForm:diseases" listener="#{approveDisease.search()}" />
                    </p:inputText>
                </div>
            </div>
            <div class="col s12">
                <p:dataGrid var="diseases" value="#{approveDisease.pendingStatusDiseasesCopy}" columns="1" layout="grid"
                            rows="4" paginator="true" id="diseases" paginatorPosition="bottom"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                    <p:panel header="">
                        <h:panelGrid styleClass="card-container" columns="4" style="width:100%">

                            <strong><h:outputText value="#{diseases.name}"/></strong>

                            <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">

                                <p:commandLink update="approveDiseaseModal" value="Aprobar" class="waves-effect green btn-small"  id="approveButton" oncomplete="PF('approveDiseaseModal').show();" >
                                    <p:tooltip id="toolTipApprove" for="approveButton" value="Aceptar enfermedad" position="top"/>
                                    <f:setPropertyActionListener value="#{diseases}" target="#{approveDisease.selectedDiseaseAccept}"/>
                                </p:commandLink>


                                <p:commandLink update=":viewDiseaseForm" value="Ver" class="waves-effect blue darken-3 btn-small"  id="viewButton"  oncomplete="PF('viewDiseaseModal').show();">
                                    <p:tooltip id="toolTipView" for="viewButton" value="Detalles de enfermedad" position="top"/>
                                    <f:setPropertyActionListener value="#{diseases}" target="#{approveDisease.selectedDiseaseView}"/>
                                </p:commandLink>

                                <p:commandLink update=":rejectDiseaseForm" value="Rechazar" class="waves-effect red lighten-2 btn-small"  id="deleteButton" onclick="PF('rejectDiseaseModal').show();">
                                    <p:tooltip id="toolTipReject" for="deleteButton" value="Rechazar enfermedad" position="top"/>
                                    <f:setPropertyActionListener value="#{diseases}" target="#{approveDisease.selectedDiseaseReject}"/>
                                </p:commandLink>
                            </h:panelGrid>
                        </h:panelGrid>

                    </p:panel>
                </p:dataGrid>
            </div>
        </h:form>
    </div>

    <!--Approve modal-->
    <p:confirmDialog widgetVar="approveDiseaseModal" id="approveDiseaseModal" global="true" showEffect="fade" hideEffect="fade" header="Aceptar enfermedad" style="width: 300px !important; height: 300px !important;">
        <div class="row">
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Desea aprobar la enfermedad ?"/><br/>
                <h:outputText value="Esta operacion sera permanente"/>

            </div>
            <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: space-between!important; justify-content: center!important;">
                <h:form id="approveDiseaseForm" layout="block">
                    <p:growl id="growlApprove" showDetail="true" sticky="false" life="2000" />
                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check" action="#{approveDisease.approveNewDisease}"
                                     update=":disasesForm:diseases @form"/>
                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </h:form>
            </div>
        </div>
    </p:confirmDialog>

    <!--View more resource modal-->
    <h:form id="viewDiseaseForm" layout="block">
        <p:dialog modal="true" widgetVar="viewDiseaseModal" id="viewDiseaseModal" global="true"  dynamic="true" header="Detalles" style="text-align: left !important;
        overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
            <div>
                <div class="row" style="text-align: left !important; width: 700px !important; height: auto !important; padding: 20px 0!important;">
                    <h5><strong>Enfermedad</strong></h5>
                    <p:separator style="height: 1px"/>
                    <br/>
                    <h:outputText value="Nombre: " style="font-size: 20px"/>
                    <h:outputText value="#{approveDisease.selectedDiseaseView.name}" style="font-size: 18px"/>
                    <br/>
                    <h:outputText value="Tiempo de infeccion: " style="font-size: 20px"/>
                    <h:outputText value="#{approveDisease.selectedDiseaseView.infectionTime} seg." style="font-size: 18px"/>
                    <br/><br/>
                    <h5><strong>Agente</strong></h5>
                    <p:separator style="height: 1px"/>
                    <br/>
                    <h:outputText value="Nombre: " style="font-size: 20px"/>
                    <h:outputText value="#{approveDisease.selectedDiseaseView.agentName}" style="font-size: 18px"/>
                    <br/>
                    <h:outputText value="Tipo: " style="font-size: 20px"/>
                    <h:outputText value="#{approveDisease.selectedDiseaseView.agentType.label}" style="font-size: 18px"/>
                    <br/><br/>
                    <h5><strong>Sintomas presentados</strong></h5>
                    <p:separator style="height: 1px"/>
                    <br/>
                    <div class="row">
                        <div class="col s12">
                            <p:dataGrid var="symptoms" value="#{approveDisease.selectedDiseaseView.symptoms}" columns="1" layout="grid"
                                        rows="4" paginator="false" id="symptoms" paginatorPosition="" style="width: 600px !important; text-align: left !important;"
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                                <p:panel header="">
                                    <h:panelGrid styleClass="card-container" columns="2" style="width: 500px !important; text-align: left !important;">

                                        <h:outputText value="Nombre: " style="font-size: 15px"/>
                                        <h:outputText value="#{symptoms.name}" style="font-size: 12px"/>

                                        <h:outputText value="Description: " style="font-size: 15px"/>
                                        <h:outputText value="#{symptoms.description}" style="font-size: 12px"/>

                                    </h:panelGrid>
                                </p:panel>

                            </p:dataGrid>
                        </div>
                    </div>
                    <br/><br/>
                    <h5><strong>Recursos recomendados</strong></h5>
                    <p:separator style="height: 1px"/>
                    <br/>
                    <div class="row">
                        <div class="col s12">
                            <p:dataGrid var="recommendedResources" value="#{approveDisease.selectedDiseaseView.recommendedResources}" columns="1" layout="grid"
                                        rows="4" paginator="false" id="resources" paginatorPosition="" style="width: 600px !important; text-align: left !important;"
                                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                                <p:panel header="">
                                    <h:panelGrid styleClass="card-container" columns="2" style="width: 500px !important; text-align: left !important;">

                                        <h:outputText value="Nombre: " style="font-size: 15px"/>
                                        <h:outputText value="#{recommendedResources.name}" style="font-size: 12px"/>

                                        <h:outputText value="Tipo de recurso: " style="font-size: 15px"/>
                                        <h:outputText value="#{recommendedResources.resourceType.label}" style="font-size: 12px"/>

                                        <h:outputText value="Descripcion: " style="font-size: 15px"/>
                                        <h:outputText value="#{recommendedResources.description}" style="font-size: 12px"/>

                                    </h:panelGrid>
                                </p:panel>

                            </p:dataGrid>
                        </div>
                    </div>
                </div>
            </div>
        </p:dialog>
    </h:form>

    <!--Reject modal-->
    <p:confirmDialog widgetVar="rejectDiseaseModal" id="rejectDiseaseModal" global="true" showEffect="fade" hideEffect="fade" header="Aceptar enfermedad" style="width: 300px !important; height: 300px !important;">
        <div class="row">
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Desea rechazar la enfermedad ?"/><br/>
                <h:outputText value="Esta operacion sera permanente"/>
            </div>
            <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: space-between!important; justify-content: center!important;">
                <h:form id="rejectDiseaseForm" layout="block">
                    <p:growl id="growlReject" showDetail="true" sticky="false" life="2000"/>
                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check" action="#{approveDisease.rejectNewDisease}"
                                     update=":disasesForm:diseases @form"/>
                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </h:form>
            </div>
        </div>
    </p:confirmDialog>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</ui:fragment>
