<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:outputStylesheet library="css" name="dashboard.css"/>
    <div id="mySidebar" class="side-nav">
        <c:if test="#{sessionBean.dtoBackProfile.role == 'SUPERVISOR'}">
            <p:commandLink action="#{dashBean.setPage('graphs.xhtml')}" update="@all">
                <em class="material-icons" style="padding-right: 10px;">trending_up</em>Graficas
            </p:commandLink>

            <p:commandLink action="#{dashBean.setPage('requestNewDisease.xhtml')}" update="@all">
                <em class="material-icons" style="padding-right: 10px;">local_hospital</em>Solicitar Enfermedad
            </p:commandLink>

            <p:commandLink action="#{dashBean.setPage('resources.xhtml')}" update="@all">
                <em class="material-icons" style="padding-right: 10px;">business_center</em>Recursos
            </p:commandLink>

            <p:commandLink action="#{dashBean.setPage('settings.xhtml')}" update="@all">
                <em class="material-icons" style="padding-right: 10px;">settings</em>Configuraciones
            </p:commandLink>
        </c:if>
        <c:if test="#{sessionBean.dtoBackProfile.role == 'ADMINISTRATOR'}">
            <p:commandLink action="#{dashBean.setPage('userManagement.xhtml')}" update="@all">
                <em class="material-icons" style="padding-right: 10px;">person</em>Usuarios
            </p:commandLink>

            <p:commandLink action="#{dashBean.setPage('approveDisease.xhtml')}" update="@all">
                <span><em class="material-icons" style="padding-right: 10px;">local_hospital</em>Enfermedades</span>
            </p:commandLink>

            <p:commandLink action="#{dashBean.setPage('dataSourceType.xhtml')}" update="@all">
                <em class="material-icons" style="padding-right: 10px;">link</em>Tipos de Fuentes de Datos
            </p:commandLink>

            <p:commandLink action="#{dashBean.setPage('peripheralNodes.xhtml')}" update="@all">
                <em class="material-icons" style="padding-right: 10px;">storage</em>Nodos Perifericos
            </p:commandLink>
        </c:if>
    </div>
    <div class="row data-container" id="main" style="background: #fff !important;">
        <div class="row menu-container">
            <span onclick="toggleSideBar()" class="material-icons toggle-button">menu</span>
        </div>
        <div class="row" style="padding-top: 40px !important;">
            <h:panelGroup id="dashInclude" layout="block">
                <ui:include src="#{dashBean.page}"/>
            </h:panelGroup>
        </div>
    </div>
    <script src="resources/js/sidebar.js"/>
</ui:fragment>
