<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputStylesheet library="css" name="approveDisease.css"/>

    <div class="container container">
        <h:form id="sourceTypeForm">

            <div class="col s12">
                <p:dataGrid var="types" value="#{dataSourceTypeBean.dataSourceTypes}" columns="1" layout="grid"
                            rows="4" paginator="true" id="types" paginatorPosition="bottom"
                            paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">

                    <p:panel header="">
                        <h:panelGrid styleClass="card-container" columns="7" style="width:100%">

                            <strong><h:outputText value="#{types.name}"/></strong>
                            <span class="new badge" data-badge-caption="" style="">#{dataSourceTypeBean.activeTextBadge(types.active)}</span>

                            <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">

                                <p:commandLink update=":viewSourceTypeForm" value="Ver" class="waves-effect blue darken-3 btn-small"  id="viewButton" oncomplete="PF('viewSourceTypeModal').show();">
                                    <f:setPropertyActionListener value="#{types}" target="#{dataSourceTypeBean.selectedDataSourceTypeView}"/>
                                </p:commandLink>

                                <p:growl id="msg" showDetail="true"/>
                                <p:commandLink update=":sourceTypeForm:types" value="#{dataSourceTypeBean.activeTextButton(types.active)}" class="waves-effect #{dataSourceTypeBean.handleButtonStyleChange(types.active)} btn-small" id="updateButton" action="#{dataSourceTypeBean.setInformationSourceTypeStatus}" >
                                    <f:setPropertyActionListener value="#{types}" target="#{dataSourceTypeBean.selectedDataSourceTypeUpdate}"/>
                                </p:commandLink>

                            </h:panelGrid>
                        </h:panelGrid>

                    </p:panel>
                </p:dataGrid>
            </div>
        </h:form>
    </div>

    <!--View more modal-->
    <h:form id="viewSourceTypeForm" layout="block">
        <p:dialog modal="true" widgetVar="viewSourceTypeModal" id="viewSourceTypeModal" global="true"  dynamic="true" header="Detalles" style="text-align: left !important;
        overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
            <div>
                <div class="row" style="text-align: left !important; width: auto !important; min-width: 600px !important; height: auto !important; padding: 20px 0!important;">
                    <h:outputText value="#{dataSourceTypeBean.selectedDataSourceTypeView.name}" style="font-size: 20px; font-weight: bold!important;"/>
                    <br/><br/>
                    <p:outputPanel deferred="true">
                        <h:outputText value="#{dataSourceTypeBean.selectedDataSourceTypeView.description}" style="font-size: 15px;"/>
                    </p:outputPanel>
                    <br/>
                </div>
            </div>
        </p:dialog>
    </h:form>


    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
        function handleReload () {
            setTimeout(() => {
                location.reload();
            }, 2000)
        }
    </script>
</ui:fragment>
