<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui">

    <h:outputStylesheet library="css" name="graphs.css"/>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <o:socket channel="donut" onmessage="function(message) { fetchCases(message) }" />
    <div class="row">
        <div class="col s6" id="parent-container">
            <div id="container" style="width: 700px; height: 600px;"></div>
        </div>
        <div class="col s6" style="text-align: center!important;">
            <div class="row"
                 style="width: 140px!important; position: absolute!important; right: 40px!important; top: 70px!important;">
                <h:form id="verga">
                    <p:commandButton icon="pi pi-search" styleClass="white-button" action="#{chartJsView.handleCasesData}" update=":donutForm" style="position: absolute!important; right: 150px!important;"/>
                    <h:selectOneMenu layout="lineDirection" id="myMenu" value="#{chartJsView.selectedDisease}">
                        <f:selectItems value="#{chartJsView.diseases}" var="disease" itemLabel="#{disease.name}"
                                       itemValue="#{disease.id}"/>
                    </h:selectOneMenu>
                </h:form>
            </div>
            <div class="row">
                <h:form id="donutForm">
                    <p:donutChart model="#{chartJsView.donutModel}" style="width: 100%; height: 400px;"/>
                </h:form>
            </div>
        </div>
    </div>
    <script src="./resources/js/graphs.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</ui:fragment>

