<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://java.sun.com/jsf/html"
             xmlns:p="http://primefaces.org/ui"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:outputStylesheet library = "css" name="login.css" />
    <div class="row valign-wrapper login-background">
        <img src="resources/images/login-image.svg" alt="" class="login-image"/>
        <img src="resources/images/wave.png" alt="" class="login-wave"/>
        <div class="login-circle"></div>
        <div class="login-circle_little"></div>
        <div class="col s8 m6 l4 offset-s2 offset-m3 offset-l4 valign">
            <div class="card login-card">
                <h:form>
                    <div class="card-content">
                        <div class="login-logo">
                            <img src="resources/images/logo.png" alt=""/>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <em class="material-icons prefix" style="color: white;">account_circle</em>
                                <p:inputText id="username" value="#{sessionBean.nickname}" label="Username"
                                             class="material-icons" style="color: white;"/>
                                <h:outputLabel for="username" value="Username"/>
                            </div>
                            <div class="input-field col s12">

                                <em class="material-icons prefix" style="color: white;">lock_outline</em>
                                <p:password id="password" value="#{sessionBean.password}" label="Password"
                                            class="material-icons" style="color: white;"/>
                                <h:outputLabel for="password" value="Password"/>
                            </div>
                            <div class="input-field col s12">
                                <p:messages id="messages" showDetail="false" closable="true">
                                    <p:autoUpdate/>
                                </p:messages>
                            </div>
                        </div>
                    </div>
                    <div class="card-action login-card_action">
                        <div class="login-actions">
                            <p:commandButton id="login-btn" styleClass="login-btn" value="Login" update="@all"
                                             action="#{sessionBean.doLogin}"/>
                        </div>
                    </div>
                </h:form>
            </div>
        </div>
    </div>
</ui:fragment>
