<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
             xmlns:p="http://primefaces.org/ui"
             xmlns:c="http://java.sun.com/jsp/jstl/core"
             xmlns:pe="http://primefaces.org/ui/extensions" xmlns:f="http://java.sun.com/jsf/core"
             xmlns:o="http://omnifaces.org/ui">
    <h:outputStylesheet library="css" name="navbar.css"/>
    <nav>
        <h:panelGroup>
            <o:socket channel="push" scope="view">
                <f:ajax event="updateNotifications" render=":notificationsForm" />
            </o:socket>
        </h:panelGroup>
        <div class="nav-wrapper">
            <p:commandLink action="#{dashBean.setPage('graphs.xhtml')}" update="@all">
                <img class="app-icon" src="resources/images/VirusControl.png" alt=""/>
            </p:commandLink>
            <ul id="nav-mobile" class="right icon-container">
                <h:form id="notificationsForm">
                    <c:if test="#{sessionBean.dtoBackProfile.role == 'SUPERVISOR'}">
                        <li style="padding: 0px !important;">
                            <p:commandLink id="bell" style="padding: 0 12px !important;" type="button" onclick="PF('notificationInfoModal').show();">
                                <pe:badge content="#{sessionBean.notis}" color="orange" id="badge"/>
                                <em class="material-icons" style="font-size: 32px">notifications</em>
                            </p:commandLink>

                        </li>
                        <li style="padding: 0px !important;">
                            <p:commandLink style="padding: 0 12px !important;" type="button" onclick="PF('userDataModal').show();">
                                <em class="material-icons" style="font-size: 32px">settings</em>
                            </p:commandLink>
                        </li>
                        <li style="padding: 0px !important;">
                            <p:commandLink id="dynaButtonSup" style="padding: 0 12px !important;" type="button">
                                <em class="material-icons" style="font-size: 42px; text-align: center;">expand_more</em>
                            </p:commandLink>

                            <p:menu overlay="true" trigger="dynaButtonSup" my="left top" at="left bottom">
                                <p:menuitem value="Perfil" icon="pi pi-save" onclick="PF('profileInfoModal').show();" />
                                <p:menuitem value="Logout" action="#{sessionBean.doLogout}" update="@all" icon="pi pi-sign-out"/>
                            </p:menu>
                        </li>
                    </c:if>
                    <c:if test="#{sessionBean.dtoBackProfile.role == 'ADMINISTRATOR'}">
                        <li style="padding: 0px !important;">
                            <p:commandLink style="padding: 0 12px !important;" type="button" onclick="PF('userDataModal').show();">
                                <em class="material-icons" style="font-size: 32px">settings</em>
                            </p:commandLink>
                        </li>
                        <li style="padding: 0px !important;">
                            <p:commandLink id="dynaButtonAdmin" style="padding: 0 12px !important;" type="button">
                                <em class="material-icons" style="font-size: 42px; text-align: center;">expand_more</em>
                            </p:commandLink>

                            <p:menu overlay="true" trigger="dynaButtonAdmin" my="left top" at="left bottom">
                                <p:menuitem value="Perfil" icon="pi pi-save" onclick="PF('profileInfoModal').show();" />
                                <p:menuitem value="Logout" action="#{sessionBean.doLogout}" update="@all" icon="pi pi-sign-out"/>
                            </p:menu>
                        </li>
                    </c:if>
                </h:form>
<!--            Profile modal-->
                <p:dialog header="Perfil de Usuario" widgetVar="profileInfoModal" modal="true" dynamic="true" style="text-align:center; overflow-x: hidden !important; overflow-y: hidden !important; min-width: 400px!important; width: 400px!important; max-width: 450px!important; height: 400px!important; max-height: 450px!important;">
                    <div class="row" style="text-align: center!important;">
                        <br/>
                        <div class="col s12" style="text-align: center!important;">
                            <h:outputText style="font-size: 18px !important; " value="#{sessionBean.dtoBackProfile.fullName}"/>
                        </div>
                        <br/><br/><br/>
                        <div class="input-field col s12" style="display: flex!important; align-content: baseline!important; justify-content: center!important;">
                            <em class="material-icons tiny" style="font-size: 22px!important; padding-right: 3px!important;">account_circle</em>
                            <br/>
                            <h:outputText style="font-size: 17px !important; " value="#{sessionBean.dtoBackProfile.nickname}"/>
                        </div>
                        <br/><br/><br/>
                        <div class="col s12" style="display: flex!important; align-content: baseline!important; justify-content: center!important;">
                            <span class="new badge" data-badge-caption="" style="">#{sessionBean.dtoBackProfile.role.label}</span>
                        </div>
                    </div>
                </p:dialog>
            <!--Notification modal-->
            <h:form id="manageNotificationsForm" >
                <p:dialog header="Notificaciones" widgetVar="notificationInfoModal" modal="true" dynamic="true" style="text-align: center !important; min-width: 500px!important; width: 500px!important; max-width: 600px!important; height: 500px!important; max-height: 700px!important;
                    overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
                    <div class="row" id="notification_container" style="text-align: left!important;">
                        <p:dataGrid var="notification" value="#{sessionBean.notificationData}" columns="1" layout="grid"
                                    rows="4" paginator="true" id="notifications" paginatorPosition="bottom"
                                    paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">
                            <p:panel header="">
                                <h:panelGrid styleClass="card-container noBorders" columns="5" style="width:100%;!important;" >
                                    <strong><h:outputText value="Ha surgido un nuevo caso de #{notification.disease} con estado: #{notification.status}" /></strong>
                                    <p:commandLink action="#{sessionBean.markAsRead}" update=":manageNotificationsForm:notifications :notificationsForm" value="" class="waves-effect white btn-small"  id="markButton" >
                                        <em class="material-icons" style="color: #0d47a1!important;">check</em>
                                        <p:tooltip id="toolTipMark" for="markButton" value="Marcar como leída" position="right"/>
                                        <f:setPropertyActionListener value="#{notification}" target="#{sessionBean.markNotificationAsRead}"/>
                                    </p:commandLink>
                                </h:panelGrid>
                            </p:panel>
                        </p:dataGrid>
                    </div>
                </p:dialog>
            </h:form>

            <!-- Change user data modal-->
            <p:dialog header="Cambiar contraseña" widgetVar="userDataModal" modal="true" dynamic="true" style="text-align:center; overflow-x: hidden !important; overflow-y: hidden !important; min-width: 400px!important; width: 400px!important; max-width: 450px!important; height: 400px!important; max-height: 450px!important;">
                <div class="row" style="text-align: center!important; width: 100%!important;">
                    <h:form id="userDataForm">
                        <div class="input-container col s12" style="padding-left: 35px!important;">
                            <p:password id="sourceDescriptionCreate"
                                         value="#{sessionBean.oldPassword}"
                                         placeholder="Contraseña actual"/>
                        </div>
                        <div class="input-container col s12" style="padding-left: 35px!important;">
                            <p:password id="sourceUserCreate"
                                         value="#{sessionBean.newPassword}"
                                         placeholder="Nueva contraseña"/>
                        </div>
                        <div class="col s12" style="padding-top: 40px !important; width: 100%!important;">
                            <p:growl id="growlUpdateData" showDetail="false" sticky="false" life="2000" />
                            <p:commandButton value="Confirmar" class="waves-effect blue-grey btn-small"
                                             style="margin-right:80px !important; left: 40px!important;"
                                             action="#{sessionBean.changeUserPassword}"
                                             update=":manageNotificationsForm:notifications :notificationsForm @form"
                                             />
                        </div>
                    </h:form>
                </div>
            </p:dialog>

            </ul>
        </div>
    </nav>
</ui:fragment>
