<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputStylesheet library="css" name="peripheralNodes.css"/>

    <div class="row tabs-container">
            <p:tabView dynamic="true" id="tab">

                <p:tab title="Examenes">
                    <h:panelGrid columns="1" cellpadding="10">
                        <h:form id="examsForm">
                            <div class="row top-container">
                                <div class="col s6 addProvider-container">
                                    <p:commandLink >
                                        <a onclick="PF('createExamModal').show();" class="waves-effect waves-light btn-small" style="border-radius: 100px !important"><em class="material-icons large">add</em>   Agregar Proveedor</a>
                                    </p:commandLink>
                                </div>
                            </div>
                            <div class="col s12">
                                <p:dataGrid var="exam" value="#{examProviderBean.examProviders}" columns="1" layout="grid"
                                            rows="4" paginator="true" id="exam" paginatorPosition="bottom"
                                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                                    <p:panel header="">
                                        <h:panelGrid styleClass="card-container noBorders" columns="4" style="width:100%">

                                            <strong><h:outputText value="#{exam.name}"/></strong>

                                            <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">

                                                <p:commandLink update=":viewExamForm" oncomplete="PF('viewExamModal').show();" value="Ver" class="waves-effect green btn-small"  id="viewExamButton" >
                                                    <f:setPropertyActionListener value="#{exam}" target="#{examProviderBean.selectedExamProviderView}"/>
                                                </p:commandLink>

                                                <p:commandLink update=":updateExamForm" oncomplete="PF('updateExamModal').show();" value="Editar" class="waves-effect blue darken-3 btn-small"  id="editExamButton" >
                                                    <f:setPropertyActionListener value="#{exam}" target="#{examProviderBean.selectedExamProviderUpdate}"/>
                                                </p:commandLink>

                                            </h:panelGrid>
                                        </h:panelGrid>

                                    </p:panel>
                                </p:dataGrid>
                            </div>
                        </h:form>
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Recursos">
                    <h:panelGrid columns="1" cellpadding="10">
                        <h:form id="resourcesForm">
                            <div class="row top-container">
                                <div class="col s6 addProvider-container">
                                    <p:commandLink >
                                        <a onclick="PF('createResourceModal').show();" class="waves-effect waves-light btn-small" style="border-radius: 100px !important"><em class="material-icons large">add</em>   Agregar Proveedor</a>
                                    </p:commandLink>
                                </div>
                            </div>
                            <div class="col s12">
                                <p:dataGrid var="resources" value="#{resourceProviderBean.resourceProviders}" columns="1" layout="grid"
                                            rows="4" paginator="true" id="resources" paginatorPosition="bottom"
                                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                                    <p:panel header="">
                                        <h:panelGrid styleClass="card-container noBorders" columns="4" style="width:100%">

                                            <h:panelGrid styleClass="card-container noBorders" columns="1" style="width:100%">
                                                <h:outputText value="#{resources.name}"/>
                                            </h:panelGrid>

                                            <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">

                                                <p:commandLink update=":viewResourceForm" oncomplete="PF('viewResourceModal').show();" value="Ver" class="waves-effect green btn-small"  id="viewResourceButton" >
                                                    <f:setPropertyActionListener value="#{resources}" target="#{resourceProviderBean.dtoSelectedResourceProviderView}"/>
                                                </p:commandLink>


                                                <p:commandLink update="updateResourceForm" oncomplete="PF('updateResourceModal').show();" value="Editar" class="waves-effect blue darken-3 btn-small" id="editResourceButton" >
                                                    <f:setPropertyActionListener value="#{resources}" target="#{resourceProviderBean.dtoSelectedResourceProviderUpdate}"/>
                                                </p:commandLink>

                                                <p:commandLink update="deleteResourceProviderFrom" oncomplete="PF('deleteResourceProviderModal').show();" value="Eliminar" class="waves-effect red lighten-2 btn-small"  id="deleteResourceButton" >
                                                    <f:setPropertyActionListener value="#{resources}" target="#{resourceProviderBean.dtoSelectedResourceProviderDelete}"/>
                                                </p:commandLink>
                                            </h:panelGrid>
                                        </h:panelGrid>

                                    </p:panel>
                                </p:dataGrid>
                            </div>
                        </h:form>
                    </h:panelGrid>
                </p:tab>

    <!--    Health care tabView-->
                <p:tab title="Salud">
                    <h:panelGrid columns="1" cellpadding="10">

                        <h:form id="healthCareForm">
                            <div class="row top-container">
                                <div class="col s6 addProvider-container">
                                    <p:commandLink >
                                        <a onclick="PF('createHealthCareModal').show();" class="waves-effect waves-light btn-small" style="border-radius: 100px !important"><em class="material-icons large">add</em>   Agregar Proveedor</a>
                                    </p:commandLink>
                                </div>
                            </div>
                            <div class="col s12">
                                <p:dataGrid var="healthCare" value="#{healthCareProviderBean.healthCareProviders}" columns="1" layout="grid"
                                            rows="4" paginator="true" id="healthCare" paginatorPosition="bottom"
                                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                                    <p:panel header="">
                                        <h:panelGrid styleClass="card-container" columns="4" style="width:100%;">

                                            <strong><h:outputText value="#{healthCare.name}"/></strong>


                                            <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">

                                                <p:commandLink update=":viewHealthCareForm" oncomplete="PF('viewHealthCareModal').show();" value="Ver" class="waves-effect green btn-small"  id="viewHealthCareButton" >
                                                    <f:setPropertyActionListener value="#{healthCare}" target="#{healthCareProviderBean.dtoSelectedHealthCareProviderView}"/>
                                                </p:commandLink>

                                                <p:commandLink update=":editHealthProviderForm" value="Editar" oncomplete="PF('editHealthProviderModal').show();" class="waves-effect blue darken-3 btn-small"  id="editHealthCareButton" >
                                                    <f:setPropertyActionListener value="#{healthCare}" target="#{healthCareProviderBean.dtoSelectedHealthCareProviderUpdate}"/>
                                                </p:commandLink>

                                            </h:panelGrid>
                                        </h:panelGrid>

                                    </p:panel>
                                </p:dataGrid>
                            </div>
                        </h:form>
                    </h:panelGrid>
                </p:tab>
            </p:tabView>
    </div>

<!--    Exams Dialogs-->

<!--    Create exam -->
    <p:dialog header="Agregar proveedor" widgetVar="createExamModal" modal="true" id="createExamModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="createExamForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{examProviderBean.dtoCreateExamProvider.name}" id="examName"
                                     placeholder="Nombre"/>
                    </div>

                    <div class="input-field col s12">
                        <p:inputText value="#{examProviderBean.dtoCreateExamProvider.url}" id="examUrl"
                                     placeholder="Direccion url"/>
                    </div>

                    <div class="input-field col s12">
                        <p:inputTextarea id="resourceDescriptionCreate"
                                         value="#{examProviderBean.description}"
                                         placeholder="Descripcion" rows="12" cols="33"/>
                    </div>

                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlCreateExam" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton id="createExamButton" value="Agregar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{examProviderBean.createExamProvider}"
                                         update=":tab:examsForm:exam @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>


    <!--    Update exam -->
    <p:dialog header="Modificar proveedor" widgetVar="updateExamModal" modal="true" id="updateExamModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="updateExamForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{examProviderBean.selectedExamProviderUpdate.name}" id="examNameUpdate"
                                     placeholder="Nombre"/>
                    </div>

                    <div class="input-field col s12">
                        <p:inputText value="#{examProviderBean.selectedExamProviderUpdate.url}" id="examUrlUpdate"
                                     placeholder="Direccion url"/>
                    </div>

                    <div class="input-field col s12">
                        <p:inputTextarea id="resourceDescriptionUpdate"
                                         value="#{examProviderBean.description}"
                                         placeholder="Descripcion" rows="12" cols="33"/>
                    </div>

                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlUpdateExam" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton id="updateExamButton" value="Confirmar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{examProviderBean.updateExamProvider}"
                                         update=":tab:examsForm:exam @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>


    <!--    View Exam-->
    <p:dialog modal="true" widgetVar="viewExamModal" id="viewExamModal" global="true" dynamic="true" header="Detalles" style="text-align: left !important;
    overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
        <div>
            <h:form id="viewExamForm" layout="block">
                <div class="row" style="text-align: left !important; width: 350px !important; height: auto !important; padding: 10px 0!important;">
                    <h:outputText value="#{examProviderBean.selectedExamProviderView.name}" style="font-size: 15px; font-weight: bold!important;"/>
                    <br/><br/>
                    <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                        <em class="material-icons tiny" style="font-size: 20px!important;">link</em>
                        <h:outputText value="#{examProviderBean.selectedExamProviderView.url}" style="font-size: 13px; padding-left: 5px!important;"/>
                    </div>
                </div>
            </h:form>
        </div>
    </p:dialog>


<!--    Rsources Dialogs-->

    <!--Create modal-->
    <p:dialog header="Agregar proveedor" widgetVar="createResourceModal" modal="true" id="createResourceModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="createResourceForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{resourceProviderBean.dtoCreateResourceProvider.name}" id="resourceId"
                                     placeholder="Nombre"/>
                    </div>

                    <div class="input-field col s12">
                        <p:inputText value="#{resourceProviderBean.dtoCreateResourceProvider.url}" id="resourceUrl"
                                     placeholder="Direccion url"/>
                    </div>

                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlCreateResource" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton id="createButtonResource" value="Agregar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{resourceProviderBean.createResource}"
                                         update=":tab:resourcesForm:resources @form" />
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--Update modal-->
    <p:dialog header="Editar proveedor" widgetVar="updateResourceModal" modal="true" id="updateResourceModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="updateResourceForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{resourceProviderBean.dtoSelectedResourceProviderUpdate.name}" id="resourceIdUpdate"
                                     placeholder="Nombre"/>
                    </div>

                    <div class="input-field col s12">
                        <p:inputText value="#{resourceProviderBean.dtoSelectedResourceProviderUpdate.url}" id="resourceUrlUpdate"
                                     placeholder="Direccion url"/>
                    </div>

                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlUpdateResource" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton id="updateButtonResource" value="Confirmar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{resourceProviderBean.updateResource}"
                                         update=":tab:resourcesForm:resources @form" />
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--    View Resources-->
    <p:dialog modal="true" widgetVar="viewResourceModal" id="viewResourceModal" global="true" dynamic="true" header="Detalles" style="text-align: left !important;
        overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
        <div>
            <h:form id="viewResourceForm" layout="block">
                <div class="row" style="text-align: left !important; width: 350px !important; height: auto !important; max-height: 700px !important; padding: 10px 0!important;">

                    <c:if test="#{resourceProviderBean.dtoSelectedResourceProviderView.commercialName == ''}">
                        <h:outputText value="#{resourceProviderBean.dtoSelectedResourceProviderView.name}" style="font-size: 17px; font-weight: bold!important;"/>
                        <br/><br/>
                        <h:outputText value="#{resourceProviderBean.dtoSelectedResourceProviderView.url}" style="font-size: 15px;"/>
                        <br/><br/>
                    </c:if>
                        <h:outputText value="#{resourceProviderBean.dtoSelectedResourceProviderView.name}" style="font-size: 15px; font-weight: bold!important;"/>
                        <br/><br/>
                        <h:outputText value="#{resourceProviderBean.dtoSelectedResourceProviderView.commercialName}" style="font-size: 15px;"/>
                        <br/><br/>
                        <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                            <em class="material-icons tiny" style="font-size: 20px!important; padding-left: 5px!important;">location_on</em>
                            <h:outputText value="#{resourceProviderBean.dtoSelectedResourceProviderView.address.street}, #{resourceProviderBean.dtoSelectedResourceProviderView.address.city}, #{resourceProviderBean.dtoSelectedResourceProviderView.address.department}" style="font-size: 15px;"/>
                        </div>
                        <br/><br/>

                        <p:dataList value="#{resourceProviderBean.dtoSelectedResourceProviderView.openSchedule}" var="hours" type="unordered" styleClass="noBorders" itemType="decimal">
                            <f:facet name="">
                                Basic
                            </f:facet>
                            <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                                <em class="material-icons" style="font-size: 20px!important; padding-right: 5px!important;">access_time</em> #{hours.dayOfWeek}:  #{hours.openingHour} a #{hours.closingHour}
                            </div>
                            <br/>
                        </p:dataList>

                        <br/>
                        <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                            <em class="material-icons tiny" style="font-size: 20px!important;">link</em>
                            <h:outputText value="#{resourceProviderBean.dtoSelectedResourceProviderView.url}" style="font-size: 13px!important; padding-left: 5px!important;"/>
                        </div>
                </div>
            </h:form>
        </div>
    </p:dialog>

    <!--    Delete modal-->
    <p:confirmDialog widgetVar="deleteResourceProviderModal" id="deleteResourceProviderModal" global="true" showEffect="fade" hideEffect="fade" header="Eliminar" style="width: 300px !important; height: 300px !important;">
        <div class="row">
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Desea borrar el proveedor?"/>
            </div>
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Esta accion será permanente"/>
            </div>
            <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: space-between!important; justify-content: center!important;">
                <h:form id="deleteResourceProviderFrom" layout="block">
                    <p:growl id="growlDelete" showDetail="true" sticky="false" life="2000" />
                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check" action="#{resourceProviderBean.deleteResource}"
                                     update=":tab:resourcesForm:resources @form"/>
                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </h:form>
            </div>
        </div>
    </p:confirmDialog>



    <!--    Health Care Dialogs-->
    <!--Create modal-->
    <p:dialog header="Agregar proveedor" widgetVar="createHealthCareModal" modal="true" id="createHealthCareModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="createHealthCareForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{healthCareProviderBean.dtoCreateHealthCareProvider.name}" id="healthCareId"
                                     placeholder="Nombre"/>
                    </div>

                    <div class="input-field col s12">
                        <p:inputText value="#{healthCareProviderBean.dtoCreateHealthCareProvider.url}" id="healthCareUrl"
                                     placeholder="Direccion url"/>
                    </div>

                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlCreate" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton id="createButton" value="Agregar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{healthCareProviderBean.createHealthCareProvider}"
                                         update=":tab:healthCareForm:healthCare @form" />
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--Edit modal-->
    <p:dialog widgetVar="editHealthProviderModal" id="editHealthProviderModal" modal="true" global="true" dynamic="true" showEffect="fade" hideEffect="fade" header="Editar" style="width: 300px !important; height: 300px !important;">
        <h:form id="editHealthProviderForm" layout="block">
            <div class="row">
                <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                    <p:inputText value="#{healthCareProviderBean.dtoSelectedHealthCareProviderUpdate.name}" id="editHealthCareName"
                                 placeholder="Nombre"/>
                </div>
                <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                    <p:inputText value="#{healthCareProviderBean.dtoSelectedHealthCareProviderUpdate.url}" id="editHealthCareUrl"
                                 placeholder="Direccion url"/>
                </div>
                <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: center!important; justify-content: center!important;">
                        <p:growl id="growlEdit" showDetail="true" sticky="false" life="2000"/>
                        <p:commandButton value="Confirmar" type="submit" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{healthCareProviderBean.updateHealthCareProvider}"
                                         update=":tab:healthCareForm:healthCare @form"/>
                </div>
        </div>
        </h:form>
    </p:dialog>

    <!--View more health provider modal-->
    <h:form id="viewHealthCareForm" layout="block">
        <p:dialog modal="true" widgetVar="viewHealthCareModal" id="viewHealthCareModal" global="true" dynamic="true" header="Detalles" style="text-align: left !important;
        overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
            <div>
                <div class="row" style="text-align: left !important; width: 350px !important; height: auto !important; padding: 10px 0!important;">
                    <h:outputText value="#{healthCareProviderBean.dtoSelectedHealthCareProviderView.name}" style="font-size: 15px; font-weight: bold!important;"/>
                    <br/><br/>
                    <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                        <em class="material-icons tiny" style="font-size: 20px!important;">link</em>
                        <h:outputText value="#{healthCareProviderBean.dtoSelectedHealthCareProviderView.url}" style="font-size: 13px; padding-left: 5px!important;"/>
                    </div>
                </div>
            </div>
        </p:dialog>
    </h:form>

    <!--Delete modal-->
    <p:confirmDialog widgetVar="deleteHealthProviderModal" id="deleteHealthProviderModal" global="true" showEffect="fade" hideEffect="fade" header="Eliminar" style="width: 300px !important; height: 300px !important;">
        <div class="row">
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Desea eliminar el proveedor ?"/><br/>
                <h:outputText value="Esta operacion sera permanente"/>
            </div>
            <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: space-between!important; justify-content: center!important;">
                <h:form id="deleteHealthProviderForm" layout="block">
                    <p:growl id="growlReject" showDetail="true" sticky="false" life="2000"/>
                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check"
                                     update=":tab:healthCareForm:healthCare @form"/>
                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </h:form>
            </div>
        </div>
    </p:confirmDialog>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
        function handleReload () {
            setTimeout(() => {
                location.reload();
            }, 2000)
        }
    </script>
</ui:fragment>
