<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputStylesheet library="css" name="requestNewDisease.css"/>

    <div class="container container">
        <h:form id="requestNewDiseaseForm">
            <div class="row">
                <div class="col s12">
                    <h3>Enfermedad</h3>
                </div>
                <div class="input-field col s12">
                    <p:inputText id="diseaseName" value="#{requestNewDiseaseBean.diseaseName}" label="Enfermedad" class="label-diseaseName"/>
                    <h:outputLabel for="diseaseName" value="Nombre"/>
                </div>
                <div class="input-field col s12 diseaseContainer">
                    <div class="input-field col s6">
                        <p:inputText type="number" id="diseaseInfectionTime" value="#{requestNewDiseaseBean.infectionTime}" label="Enfermedad" class="label-diseaseName"/>
                        <h:outputLabel for="diseaseInfectionTime" value="Tiempo de infeccion (dias)"/>
                    </div>
                </div>
                <div class="input-field col s12">
                    <h4>Agente</h4>
                </div>
                <div class="col s12 agentContainer">
                    <div class="input-field col s6" id="agentNameContainer" >
                        <p:inputText id="agentName" value="#{requestNewDiseaseBean.agentName}" label="Agente"/>
                        <h:outputLabel for="agentName" value="Nombre Agente"/>
                    </div>
                    <div class="col s6 selector-container">
                        <h:selectOneMenu value="#{requestNewDiseaseBean.agentType}">
                            <f:selectItem itemLabel="Tipo de Agente" itemValue=""/>
                            <f:selectItems var="item" value="#{requestNewDiseaseBean.enumInfectiousAgentType}" itemLabel="#{item.label}" itemValue="#{item}"/>
                        </h:selectOneMenu>
                    </div>
                </div>
                <div class="input-field col s12">
                    <h4>Sintoma</h4>
                </div>
                <div class="syntom-container col s12">
                    <div class="col s6 add-syntom-container">
                            <div class="input-field col s12">
                                <h5>Nuevo Sintoma</h5>
                            </div>
                            <div class="input-field col s12">
                                <p:inputText id="syntomName" value="#{requestNewDiseaseBean.symptomName}" label="Sintoma"/>
                                <h:outputLabel for="syntomName" value="Nombre Sintoma"/>
                            </div>
                            <div class="input-field col s12">
                                <h6>Descripcion de Sintoma</h6>
                                <br/>
                                <p:inputTextarea id="syntomDescription" value="#{requestNewDiseaseBean.symptomDescription}" placeholder="Descripcion de sintoma" rows="6" cols="33" />
                            </div>
                        <div class="col s12" id="create-syntom-button">
                            <p:commandLink value="Crear" class="waves-effect blue-grey lighten-2 btn" style="margin-right:20px; !important;" action="#{requestNewDiseaseBean.createSymptom}" update=":requestNewDiseaseForm:syntoms-display"/>
                        </div>
                    </div>
                    <div class="col s6 show-syntom-container">
                        <div class="col s12" style="padding-top: 15px !important;">
                            <h5>Sintomas disponibles</h5>
                        </div>
                        <div class="input-field col s12" id="checkbox">
                            <p:selectManyMenu id="syntoms-display" value="#{requestNewDiseaseBean.selectedSymptoms}" converter="NewDiseaseConverter"
                                              var="s" filter="true" filterBy="#{requestNewDiseaseBean.symptoms.name}" filterMatchMode="contains" showCheckbox="true">
                                <c:if test="#{requestNewDiseaseBean.symptoms == null}">
                                    <p:column style="border-spacing: 10px!important;">
                                        <h:outputText value="No hay sintomas" />
                                    </p:column>
                                </c:if>
                                <f:selectItems value="#{requestNewDiseaseBean.symptoms}" var="syntoms" itemLabel="#{syntoms.name}" itemValue="#{syntoms}" />
                                <p:column style="border-spacing: 10px!important;">
                                    <h:outputText value="#{s.name}" />
                                </p:column>
                            </p:selectManyMenu>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12" style="padding-top: 15px !important;">
                    <h4>Recursos</h4>
                </div>
                <div class="syntom-container col s12">

                    <div class="col s12" style="padding-top: 15px !important;">
                        <h5>Recursos disponibles</h5>
                    </div>
                    <div class="input-field col s12" id="checkboxResources">
                        <p:selectManyMenu id="resources-display" value="#{requestNewDiseaseBean.selectedResources}" converter="NewResourceConverter"
                                          var="r" filter="true" filterBy="#{requestNewDiseaseBean.resources.name}" filterMatchMode="contains" showCheckbox="true">
                            <f:selectItems value="#{requestNewDiseaseBean.resources}" var="resources" itemLabel="#{resources.name}" itemValue="#{resources}" />
                            <p:column style="border-spacing: 10px!important;">
                                <h:outputText value="#{r.name}" />
                            </p:column>
                        </p:selectManyMenu>
                    </div>
                </div>

                <div class="col s12" style="padding-top: 100px !important; text-align: center !important;">
                    <p:growl id="growlConfirm" showDetail="true" sticky="false" life="2000" />
                    <p:commandLink value="Confirmar" class="waves-effect blue-grey btn" style="margin-right:80px !important;" action="#{requestNewDiseaseBean.createDiseaseRequest}" update="@form" onclick="handleReload()"/>
                </div>
            </div>
        </h:form>
    </div>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
        function handleReload () {
            setTimeout(() => {
                location.reload();
            }, 2000)
        }
    </script>
</ui:fragment>
