<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputStylesheet library="css" name="resources.css"/>

    <div class="container container">
        <h:form id="resourcesForm">
            <div class="row top-container">
                <div class="col s6 addResource-container">
                    <p:commandLink >
                        <a onclick="PF('addResourceModal').show();" class="waves-effect waves-light btn-small" style="border-radius: 100px !important"><em class="material-icons large">add</em>   Agregar Recurso</a>
                    </p:commandLink>
                </div>
                <div class="col s6 search-container">
                    <p:inputText value="#{resourcesBean.searchText}" id="searchInput" placeholder="">
                        <p:ajax event="keyup" update=":resourcesForm:resources" listener="#{resourcesBean.search()}" />
                    </p:inputText>
                    <p:commandButton icon="pi pi-search" styleClass="white-button" action="#{resourcesBean.search()}" update=":resourcesForm:resources"/>
                </div>
            </div>
            <div class="col s12">
                <p:dataGrid var="resources" value="#{resourcesBean.resourcesCopy}" columns="3" layout="grid"
                            rows="12" paginator="true" id="resources" paginatorPosition="bottom"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                    <p:panel header="" style="text-align:center!important;">
                        <h:panelGrid styleClass="card-container" columns="1" style="width:100%">

                            <h:outputText value="#{resources.name}"/>
                            <h:outputText value="#{resources.resourceType.label}"/>

                        </h:panelGrid>

                        <div class="row"></div>
                        <p:commandLink update=":viewResourceFrom" id="eyeButton" oncomplete="PF('viewResourceModal').show();" style="display: inline !important; padding: 0px 15px !important;">
                            <em class="material-icons">remove_red_eye</em>
                            <p:tooltip id="toolTipEye" for="eyeButton" value="Ver detalles" position="top"/>
                            <f:setPropertyActionListener value="#{resources}" target="#{resourcesBean.selectedResourceView}"/>
                        </p:commandLink>

                        <p:commandLink update=":updateResourceForm" id="editButton" oncomplete="showList()">
                            <em class="material-icons">edit</em>
                            <p:tooltip id="toolTipEdit" for="editButton" value="Editar" position="top"/>
                            <f:setPropertyActionListener value="#{resources}" target="#{resourcesBean.selectedResourceUpdate}" style="display: inline !important; padding: 0px 15px !important;"/>
                        </p:commandLink>

                        <p:commandLink update=":deleteResourceFrom" id="deleteButton" onclick="PF('deleteResourceModal').show();" style="display: inline !important; padding: 0px 15px !important;">
                            <em class="material-icons">delete</em>
                            <p:tooltip id="toolTipDelete" for="deleteButton" value="Borrar" position="top"/>
                            <f:setPropertyActionListener value="#{resources}" target="#{resourcesBean.selectedResourceDelete}"/>
                        </p:commandLink>
                    </p:panel>
                </p:dataGrid>
            </div>
        </h:form>
    </div>

    <!--View more resource modal-->
    <h:form id="viewResourceFrom" layout="block">
        <p:dialog modal="true" widgetVar="viewResourceModal" dynamic="true" header="Detalles" style="text-align: left !important;">
            <div>
                <div class="row" style="text-align: center !important; width: auto !important; min-width: 250px !important; max-width: 300px !important; height: auto !important; max-height: 100px !important; padding: 70px 0!important;">
                    <h:outputText value="#{resourcesBean.selectedResourceView.description}"/>
                </div>
            </div>
        </p:dialog>
    </h:form>

<!--    Delete more resource modal-->
    <p:confirmDialog widgetVar="deleteResourceModal" id="deleteResourceModal" global="true" showEffect="fade" hideEffect="fade" header="Eliminar" style="width: 300px !important; height: 300px !important;">
        <div class="row">
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Desea borrar el recurso?"/>
            </div>
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Esta accion será permanente"/>
            </div>
            <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: space-between!important; justify-content: center!important;">
                <h:form id="deleteResourceFrom" layout="block">
                    <p:growl id="growlDelete" showDetail="true" sticky="false" life="2000" />
                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check" action="#{resourcesBean.deleteResource}"
                                     update=":resourcesForm:resources @form"/>
                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </h:form>
            </div>
        </div>
    </p:confirmDialog>


    <!--Add resource modal-->
    <p:dialog header="Agregar Recurso" widgetVar="addResourceModal" modal="true" id="addResourceModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="newResourceForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{resourcesBean.dtoResource.name}" id="resourceNameCreate"
                                     placeholder="Nombre"/>
                    </div>
                    <div class="input-field col s12">
                        <p:inputTextarea id="resourceDescriptionCreate"
                                         value="#{resourcesBean.dtoResource.description}"
                                         placeholder="Descripcion" rows="12" cols="33"/>
                    </div>
                    <div class="selector-container col s12">
                        <h:selectOneMenu value="#{resourcesBean.dtoResource.resourceType}">
                            <f:selectItem  itemLabel="Tipo"/>
                            <f:selectItems value="#{resourcesBean.enumResourceTypes}"
                                           var="item" itemValue="#{item}" itemLabel="#{item.label}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlAdd" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton value="Agregar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{resourcesBean.newResource}"
                                         update=":resourcesForm:resources @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--Update resource modal-->
        <p:dialog header="Modificar" widgetVar="updateResourceModal" modal="true" id="updateResourceModal" showEffect="fade" hideEffect="fade" >
            <div>
                <div class="row" style="padding: 50px; width: 350px !important;">
                    <h:form id="updateResourceForm" layout="block">
                        <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                            <p:commandButton icon="pi pi-pencil" styleClass="white-button"/>
                            <p:inputText value="#{resourcesBean.selectedResourceUpdate.name}" id="resourceNameUpdate"
                                         placeholder="Nombre"/>
                        </div>
                        <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                            <p:commandButton icon="pi pi-pencil" styleClass="white-button"/>
                            <p:inputTextarea id="resourceDescriptionUpdate"
                                             value="#{resourcesBean.selectedResourceUpdate.description}"
                                             placeholder="Descripcion" rows="12" cols="24"/>
                        </div>
                        <div class="selector-container col s12" style="display: flex!important; align-content: flex-start!important;">
                            <p:commandButton icon="pi pi-pencil" styleClass="white-button"/>
                            <h:selectOneMenu value="#{resourcesBean.selectedResourceUpdate.resourceType}">
                                <f:selectItem  itemLabel="Tipo" value="#{resourcesBean.dtoUpdateResource.resourceType}"/>
                                <f:selectItems value="#{resourcesBean.enumResourceTypes}"
                                               var="item" itemValue="#{item}" itemLabel="#{item.label}"/>
                            </h:selectOneMenu>
                        </div>
                        <div class="col s12" style="padding-top: 30px !important;">
                            <p:growl id="growlEdit" showDetail="true" sticky="false" life="2000" />
                            <p:commandButton value="Editar" class="waves-effect blue-grey btn"
                                             style="margin-right:80px !important;"
                                             action="#{resourcesBean.updateResource}"
                                             update=":resourcesForm:resources @form"/>
                        </div>
                    </h:form>
                </div>
            </div>
        </p:dialog>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
        function showList() {
            PF('updateResourceModal').show();
            $('select').formSelect();
        }
        function handleReload () {
            setTimeout(() => {
                location.reload();
            }, 2000)
        }
    </script>
</ui:fragment>
