<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputStylesheet library="css" name="settings.css"/>

    <div class="container container">
        <p:tabView dynamic="true" id="tabView">

            <p:tab title="Fuentes de Datos">
                <br/>
                <h:form id="twitterForm">
                    <div class="row">
                        <div class="col s12 add-container">
                            <p:commandLink >
                                <a onclick="PF('addTwitterModal').show();" class="waves-effect waves-light btn-small" style="border-radius: 100px !important"><em class="material-icons large">add</em>   Twitter</a>
                            </p:commandLink>
                            <p:commandLink >
                                <a onclick="PF('addRssModal').show();" class="waves-effect waves-light btn-small" style="border-radius: 100px !important"><em class="material-icons large">add</em>   RSS</a>
                            </p:commandLink>
                        </div>
                    </div>
                        <div class="section">
                            <div class="row">
                                <div class="col s12">
                                    <p:dataGrid var="source" value="#{sourceInformationBean.sources}" columns="1" layout="grid"
                                                rows="4" paginator="true" id="twitter" paginatorPosition="bottom"
                                                paginatorTemplate="{PreviousPageLink} {PageLinks} {NextPageLink}">

                                        <p:panel header="">
                                            <h:panelGrid styleClass="card-container" columns="5" style="width:100%">

                                                <span><h:outputText value="#{source.name}" /></span>
                                                <h:panelGrid styleClass="card-container" columns="2" style="width:100%!important; display: flex!important; align-items: center!important; flex-direction: row!important; justify-content: flex-start!important">
                                                    <span class="new badge" data-badge-caption="" style="">#{sourceInformationBean.handleSourceTypeShow(source)}</span>
                                                    <span class="new badge" data-badge-caption="" style="">#{source.status.label}</span>
                                                </h:panelGrid>

                                                <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">
                                                    <p:commandLink action="#{sourceInformationBean.handleUpdateSource(source)}" update=":#{sourceInformationBean.handleUpdateFormShow(source)}" oncomplete="PF('#{sourceInformationBean.handleUpdateModalShow(source)}').show();" value="Modificar" class="waves-effect green btn-small"  id="updateButton" >
                                                        <p:tooltip id="toolTipUpdate" for="updateButton" value="Modificar datos de la fuente" position="top"/>
                                                    </p:commandLink>

                                                    <p:commandLink action="${sourceInformationBean.handleViewSource(source)}" update=":#{sourceInformationBean.handleViewFormShow(source)}" oncomplete="PF('#{sourceInformationBean.handleViewModalShow(source)}').show();" value="Ver" class="waves-effect blue darken-3 btn-small" id="viewButton" >
                                                        <p:tooltip id="toolTipView" for="viewButton" value="Ver mas informacion" position="top"/>
                                                    </p:commandLink>

                                                    <p:commandLink update=":deleteSourceForm" onclick="PF('deleteSourceModal').show();" value="Eliminar" class="waves-effect red lighten-2 btn-small" id="deleteButton" >
                                                        <p:tooltip id="toolTipReject" for="deleteButton" value="Eliminar fuente" position="top"/>
                                                        <f:setPropertyActionListener value="#{source}" target="#{sourceInformationBean.deleteSource}"/>
                                                    </p:commandLink>
                                                </h:panelGrid>
                                            </h:panelGrid>
                                        </p:panel>
                                    </p:dataGrid>
                                </div>
                            </div>
                        </div>
                </h:form>
            </p:tab>
            <p:tab title="Notificaciones">
                <br/>
                <h:form id="NotificationsForm">
                    <div class="row">
                        <div class="col s12">
                            <p:panel header="">
                                <h:panelGrid styleClass="card-container" columns="5" style="width:100%; text-align: left!important;">

                                    <span><h:outputText value="Sospechoso" style="font-size: 15px!important;" /></span>

                                    <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">
                                        <p:selectBooleanCheckbox disabled="true" itemLabel="Medico" style="color: #b3bdb9!important;"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.suspiciousSupervisor}" itemLabel="Gerente"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.suspiciousPatient}" itemLabel="Paciente"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:panel>
                            <br/>
                            <p:panel header="">
                                <h:panelGrid styleClass="card-container" columns="5" style="width:100%">

                                    <span><h:outputText value="Positivo" style="font-size: 15px!important;" /></span>

                                    <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.positiveMedic}" itemLabel="Medico"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.positiveSupervisor}" itemLabel="Gerente"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.positivePatient}" itemLabel="Paciente"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:panel>
                            <br/>
                            <p:panel header="">
                                <h:panelGrid styleClass="card-container" columns="5" style="width:100%">

                                    <span><h:outputText value="Negativo" style="font-size: 15px!important;" /></span>

                                    <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.negativeMedic}" itemLabel="Medico"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.negativeSupervisor}" itemLabel="Gerente"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.negativePatient}" itemLabel="Paciente"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:panel>
                            <br/>
                            <p:panel header="">
                                <h:panelGrid styleClass="card-container" columns="5" style="width:100%">

                                    <span><h:outputText value="Recuperado" style="font-size: 15px!important;" /></span>

                                    <h:panelGrid styleClass="card-container noBorders" columns="3" style="width:100%; display: flex!important; align-items: flex-end!important; flex-direction: row-reverse!important;">
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.recoveredMedic}" itemLabel="Medico"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.recoveredSupervisor}" itemLabel="Gerente"/>
                                        <p:selectBooleanCheckbox value="#{settingsBean.viewNotifications.recoveredPatient}" itemLabel="Paciente"/>
                                    </h:panelGrid>
                                </h:panelGrid>
                            </p:panel>
                            <br/><br/>
                            <div class="row">
                                <div class="col s12" style="text-align: center!important;">
                                    <p:growl id="growlNotifications" showDetail="false" sticky="false" life="2000" />
                                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check" action="#{settingsBean.handleChangeNotifications}"
                                                     update=":tabView:NotificationsForm @form"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </h:form>
            </p:tab>
            <p:tab title="General">
                <br/>
                <h:form id="contagionForm" >
                    <div class="row" style="width: 100%!important;">
                        <div class="col s12" style="text-align: left!important; padding-bottom: 50px!important;">
                            <h:outputText value="Distancia de contagio" style="font-size: 30px!important;" />
                        </div>
                        <div class="col s12" style="padding-left: 50px!important; padding-bottom: 60px!important;">
                            <p:inputText value="#{settingsBean.contagionDistance}" id="contagionDistance" type="number"
                                         placeholder="" style="width: 100px!important;"/>
                            <h:outputText value="mts" style="font-size: 10px!important; padding-left: 3px!important;" />
                        </div>
                        <div class="col s12" style="padding-left: 50px!important;">
                            <p:growl id="growlContagion" showDetail="false" sticky="false" life="2000" />
                            <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check" action="#{settingsBean.handleContagionDistanceChange}"
                                             update=":tabView:NotificationsForm @form"/>
                        </div>
                    </div>
                </h:form>
            </p:tab>
        </p:tabView>
    </div>

    <!--Create Twitter modal-->
    <p:dialog header="Agregar Fuente Twitter" widgetVar="addTwitterModal" modal="true" id="addTwitterModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="addTwitterForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{sourceInformationBean.createTwitterSource.name}" id="sourceNameCreate"
                                     placeholder="Nombre"/>
                    </div>
                    <div class="input-field col s12">
                        <p:inputText id="sourceDescriptionCreate"
                                         value="#{sourceInformationBean.createTwitterSource.description}"
                                         placeholder="Descripcion" rows="12" cols="33"/>
                    </div>
                    <div class="selector-container col s12">
                        <p:inputText id="sourceUserCreate"
                                         value="#{sourceInformationBean.createTwitterSource.username}"
                                         placeholder="Nombre de usuario" rows="12" cols="33"/>
                    </div>
                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlAddTwitter" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton value="Agregar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{sourceInformationBean.createTwitterSource}"
                                         update=":tabView:twitterForm:twitter @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--Create RSS modal-->
    <p:dialog header="Agregar Fuente RSS" widgetVar="addRssModal" modal="true" id="addRssModal" showEffect="fade" hideEffect="fade" style="max-height: 600px!important; overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="addRssForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{sourceInformationBean.createRssSource.name}" id="rssNameCreate"
                                     placeholder="Nombre"/>
                    </div>
                    <div class="input-field col s12">
                        <p:inputText id="rssDescriptionCreate"
                                     value="#{sourceInformationBean.createRssSource.description}"
                                     placeholder="Descripcion" rows="12" cols="33"/>
                    </div>
                    <div class="input-field col s12">
                        <p:inputText id="rssUrlCreate"
                                     value="#{sourceInformationBean.createRssSource.url}"
                                     placeholder="Url" rows="12" cols="33"/>
                    </div>
                    <div class="noBorders col s12">
                        <p:chips id="chips" value="#{sourceInformationBean.createRssSource.keyWords}" placeholder="Palabras clave" />
                    </div>
                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlAddRss" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton value="Agregar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{sourceInformationBean.createRssSource}"
                                         update=":tabView:twitterForm:twitter @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--    View Twitter Source-->
    <h:form id="viewTwitterForm" layout="block">
        <p:dialog modal="true" widgetVar="viewTwitterModal" id="viewTwitterModal" global="true" dynamic="true" header="Detalles tw" style="text-align: left !important;
        overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
            <div>
                <div class="row" style="text-align: left !important; width: 350px !important; height: auto !important; padding: 10px 0!important;">
                    <h:outputText value="#{sourceInformationBean.viewTwitterSource.name}" style="font-size: 15px; font-weight: bold!important;"/>
                    <br/><br/>
                    <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                        <em class="material-icons tiny" style="font-size: 20px!important;">account_circle</em>
                        <h:outputText value="#{sourceInformationBean.viewTwitterSource.username}" style="font-size: 14px; padding-left: 5px!important;"/>
                    </div>
                    <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                        <h:outputText value="#{sourceInformationBean.viewTwitterSource.description}" style="font-size: 14px; padding-left: 5px!important;"/>
                    </div>
                </div>
            </div>
        </p:dialog>
    </h:form>

    <!--    View Rss Source-->
    <h:form id="viewRssForm" layout="block">
        <p:dialog modal="true" widgetVar="viewRssModal" id="viewRssModal" global="true" dynamic="true" header="Detalles rss" style="text-align: left !important;
        overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
            <div>
                <div class="row" style="text-align: left !important; width: 350px !important; height: auto !important; padding: 10px 0!important;">
                    <h:outputText value="#{sourceInformationBean.viewRssSource.name}" style="font-size: 15px; font-weight: bold!important;"/>
                    <br/><br/>
                    <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                        <h:outputText value="#{sourceInformationBean.viewRssSource.description}" style="font-size: 14px; padding-left: 5px!important;"/>
                    </div>
                    <br/>
                    <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                        <h:outputText value="Palabras clave: " style="font-size: 13px; padding-left: 5px!important;"/>
                        <p:dataList value="#{sourceInformationBean.viewRssSource.keyWords}" var="keywords" type="unordered" styleClass="noBorders" itemType="decimal">
                            <f:facet name="">
                                Basic
                            </f:facet>
                            <div class="input-field col s12" style="display: flex!important; align-content: flex-start!important;">
                               - #{keywords}
                            </div>
                        </p:dataList>
                    </div>
                </div>
            </div>
        </p:dialog>
    </h:form>

    <!--Update Twitter modal-->
    <p:dialog header="Modificar Fuente Twitter" widgetVar="updateTwitterModal" modal="true" id="updateTwitterModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="updateTwitterForm">
                    <div class="input-field col s12">
                        <p:tooltip id="toolTipName" for="sourceNameUpdate" value="Nombre" position="left"/>
                        <p:inputText value="#{sourceInformationBean.updateTwitterSource.name}" id="sourceNameUpdate"
                                     placeholder="Nombre"/>
                    </div>
                    <div class="input-field col s12">
                        <p:tooltip id="toolTipDescription" for="sourceDescriptionUpdate" value="Description" position="left"/>
                        <p:inputText id="sourceDescriptionUpdate"
                                     value="#{sourceInformationBean.updateTwitterSource.description}"
                                     placeholder="Descripcion" rows="12" cols="33"/>
                    </div>
                    <div class="selector-container col s12">
                        <p:tooltip id="toolTipUser" for="sourceUserUpdate" value="Nombre de usuario" position="left"/>
                        <p:inputText id="sourceUserUpdate"
                                     value="#{sourceInformationBean.updateTwitterSource.username}"
                                     placeholder="Nombre de usuario" rows="12" cols="33"/>
                    </div>
                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlUpdateTwitter" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton value="Confirmar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{sourceInformationBean.updateTwitterSource}"
                                         update=":tabView:twitterForm:twitter @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--Update RSS modal-->
    <p:dialog header="Modificar Fuente RSS" widgetVar="updateRssModal" modal="true" id="updateRssModal" showEffect="fade" hideEffect="fade" style="max-height: 600px!important; overflow: auto !important; overflow-x: hidden !important; -ms-overflow-style: none !important; /* IE 11 */ scrollbar-width: none !important; /* Firefox 64 */" blockScroll="true">
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="updateRssForm">
                    <div class="input-field col s12">
                        <p:tooltip id="toolTipRssName" for="rssNameUpdate" value="Nombre" position="left"/>
                        <p:inputText value="#{sourceInformationBean.updateRssSource.name}" id="rssNameUpdate"
                                     placeholder="Nombre"/>
                    </div>
                    <div class="input-field col s12">
                        <p:tooltip id="toolTipRssDescription" for="rssDescriptionUpdate" value="Descripcion" position="left"/>
                        <p:inputText id="rssDescriptionUpdate"
                                     value="#{sourceInformationBean.updateRssSource.description}"
                                     placeholder="Descripcion" rows="12" cols="33"/>
                    </div>
                    <div class="input-field col s12">
                        <p:tooltip id="toolTipRssUrl" for="rssUrlUpdate" value="Url" position="left"/>
                        <p:inputText id="rssUrlUpdate"
                                     value="#{sourceInformationBean.updateRssSource.url}"
                                     placeholder="Url" rows="12" cols="33"/>
                    </div>
                    <div class="noBorders col s12">
                        <p:tooltip id="toolTipRssWords" for="chipsUpdate" value="Palabras clave" position="left"/>
                        <p:chips id="chipsUpdate" value="#{sourceInformationBean.updateRssSource.keyWords}" />
                    </div>
                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlUpdateRss" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton value="Confirmar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{sourceInformationBean.updateRssSource}"
                                         update=":tabView:twitterForm:twitter @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--Delete modal-->
    <p:confirmDialog widgetVar="deleteSourceModal" id="deleteSourceModal" global="true" showEffect="fade" hideEffect="fade" header="Eliminar" style="width: 300px !important; height: 300px !important;">
        <div class="row">
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Desea eliminar la fuente ?"/><br/>
                <h:outputText value="Esta operacion sera permanente"/>
            </div>
            <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: space-between!important; justify-content: center!important;">
                <h:form id="deleteSourceForm" layout="block">
                    <p:growl id="growlDelete" showDetail="true" sticky="false" life="2000"/>
                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check"
                                     update=":tabView:twitterForm:twitter @form"
                                     action="#{sourceInformationBean.deleteResource}"/>
                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </h:form>
            </div>
        </div>
    </p:confirmDialog>

    <script>
        function handleReload () {
            setTimeout(() => {
                location.reload();
            }, 2000)
        }
    </script>
</ui:fragment>
