<ui:fragment
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:p="http://primefaces.org/ui"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h:outputStylesheet library="css" name="userManagement.css"/>

    <div class="container container">
        <h:form id="usersForm">
            <div class="row top-container">
                <div class="col s6 addUser-container">
                    <p:commandLink >
                        <a onclick="PF('addUserModal').show();" class="waves-effect waves-light btn-small" style="border-radius: 100px !important"><em class="material-icons large">add</em>   Crear Usuario</a>
                    </p:commandLink>
                </div>
                <div class="col s6 search-container">
                    <p:inputText value="#{userManagementBean.searchText}" id="searchInput" placeholder="">
                        <p:ajax event="keyup" update=":usersForm:users" listener="#{userManagementBean.search()}" />
                    </p:inputText>
                    <p:commandButton icon="pi pi-search" styleClass="white-button" action="#{userManagementBean.search()}" update=":usersForm:users"/>
                </div>
            </div>
            <div class="col s12">
                <p:dataGrid var="users" value="#{userManagementBean.usersCopy}" columns="3" layout="grid"
                            rows="9" paginator="true" id="users" paginatorPosition="bottom"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">

                    <p:panel header="" style="text-align:center!important;">
                        <h:panelGrid styleClass="card-container" columns="1" style="width:100%">

                            <h:outputText value="#{users.nickname}"/>
                            <h:outputText value="#{users.fullName}"/>
                            <span class="new badge" data-badge-caption="">#{users.role.label}</span>

                        </h:panelGrid>


                    <div class="row" style="display: flex!important; text-align: right!important; justify-items: start!important; height: 10px !important; flex-direction: row-reverse!important;">

                        <p:commandLink update=":deleteUserFrom" onclick="PF('deleteUserModal').show();" id="deleteButton" style="display: inline !important; padding-top: 5px !important; padding-right: 5px !important; padding-left: 10px!important;">
                            <em class="material-icons">delete</em>
                            <p:tooltip id="toolTipDelete" for="deleteButton" value="Eliminar" position="top"/>
                            <f:setPropertyActionListener value="#{users}" target="#{userManagementBean.selectedProfileDelete}"/>
                        </p:commandLink>

                        <p:commandLink update=":modifyUserForm" id="editButton" onclick="PF('modifyUserModal').show();" oncomplete="showList()" style="display: inline !important; padding-top: 5px !important; padding-right: 5px !important;">
                            <em class="material-icons">edit</em>
                            <p:tooltip id="toolTipEdit" for="editButton" value="Editar" position="top"/>
                            <f:setPropertyActionListener value="#{users}" target="#{userManagementBean.selectedProfileEdit}"/>
                        </p:commandLink>
                    </div>
                    </p:panel>

                </p:dataGrid>
            </div>
        </h:form>
    </div>

    <!--Add user modal-->
    <p:dialog header="Crear Usuario" widgetVar="addUserModal" modal="true" id="addUserModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="newUserForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{userManagementBean.dtoCreateProfile.fullName}" id="userFullName"
                                     placeholder="Nombre Completo"/>
                    </div>

                    <div class="selector-container col s12">
                        <h:selectOneMenu value="#{userManagementBean.dtoCreateProfile.role}">
                            <f:selectItem  itemLabel="Rol"/>
                            <f:selectItems value="#{userManagementBean.enumUserRoles}"
                                           var="rol" itemValue="#{rol}" itemLabel="#{rol.label}"/>
                        </h:selectOneMenu>
                    </div>

                    <div class="input-field col s12">
                        <p:inputText value="#{userManagementBean.dtoCreateProfile.nickname}" id="userNickName"
                                     placeholder="Nickname"/>
                    </div>
                    <div class="input-field col s12">
                        <p:password value="#{userManagementBean.dtoCreateProfile.password}" id="userPassword"
                                     placeholder="Contraseña"/>
                    </div>
                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlCreate" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton id="createButton" value="Crear" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{userManagementBean.createProfile}"
                                         update=":usersForm:users @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>


    <!--Modify user modal-->
    <p:dialog header="Modificar Usuario" widgetVar="modifyUserModal" modal="true" id="modifyUserModal" showEffect="fade" hideEffect="fade" >
        <div>
            <div class="row" style="padding: 50px; width: 350px !important;">
                <h:form id="modifyUserForm">
                    <div class="input-field col s12">
                        <p:inputText value="#{userManagementBean.selectedProfileEdit.fullName}" id="userFullNameEdit"
                                     placeholder="Nombre Completo"/>
                    </div>

                    <div class="selector-container col s12">
                        <h:selectOneMenu value="#{userManagementBean.selectedProfileEdit.role}">
                            <f:selectItem  itemLabel="Rol"/>
                            <f:selectItems value="#{userManagementBean.enumUserRoles}"
                                           var="rol" itemValue="#{rol}" itemLabel="#{rol.label}"/>
                        </h:selectOneMenu>
                    </div>
                    <div class="input-field col s12">
                        <p:inputText value="#{userManagementBean.selectedProfileEdit.nickname}" id="userNickNameEdit"
                                     placeholder="Nickname"/>
                    </div>
                    <div class="input-field col s12">
                        <p:password value="#{userManagementBean.dtoUpdateProfile.password}" id="userPasswordEdit"
                                    placeholder="Contraseña"/>
                    </div>
                    <div class="col s12" style="padding-top: 30px !important;">
                        <p:growl id="growlEdit" showDetail="true" sticky="false" life="2000" />
                        <p:commandButton value="Confirmar" class="waves-effect blue-grey btn"
                                         style="margin-right:80px !important;"
                                         action="#{userManagementBean.updateProfile}"
                                         update=":usersForm:users @form"
                                         onclick="handleReload()"/>
                    </div>
                </h:form>
            </div>
        </div>
    </p:dialog>

    <!--    Delete user modal-->
    <p:confirmDialog widgetVar="deleteUserModal" id="deleteUserModal" global="true" showEffect="fade" hideEffect="fade" header="Eliminar usuario" style="width: 300px !important; height: 300px !important;">
        <div class="row">
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Desea eliminar el usuario ?"/>
            </div>
            <div class="col s12" style="display: flex!important; align-content: center!important; justify-content: center!important;">
                <h:outputText value="Esta accion será permanente"/>
            </div>
            <div class="col s12" style="padding-top: 45px !important; display: flex!important; align-content: space-between!important; justify-content: center!important;">
                <h:form id="deleteUserFrom" layout="block">
                    <p:growl id="growlDelete" showDetail="true" sticky="false" life="2000" />
                    <p:commandButton value="Confirmar" type="submit" styleClass="ui-confirmdialog-yes" icon="pi pi-check" action="#{userManagementBean.deleteProfile}"
                                     update=":usersForm:users @form"/>
                    <p:commandButton value="Cancelar" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                </h:form>
            </div>
        </div>
    </p:confirmDialog>

    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
        function showList() {
            PF('modifyUserModal').show();
            $('select').formSelect();
        }
        function handleReload () {
            setTimeout(() => {
                location.reload();
            }, 2000)
        }
    </script>
</ui:fragment>
